.container-max {
    max-width: 80rem;

}


.contener {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    border-radius: 1.5rem !important;
    padding: 2rem !important;
    border: solid 0.2rem #4F5D75 !important;

}

.contener:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
}

h2 {
    font-size: 1rem;
    color: #4F5D75;
    text-align: start;
}

p {
    color: #395756;
    text-align: start;
}